ATAC-CSHL/chipSeq/GSM1000979_GCB_BCL6_ChIPseq_peaks.txt.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763399_OCI-LY1_BCL6_N3_REP1_peaks.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763402_OCI-LY1_BCL6_N3_REP2_peaks.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763404_OCI-LY1_BCL6_D8_peaks.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763406_OCI-LY1_SMRT_peaks.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763410_OCI-LY1_BCOR_peaks_REP1.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763410_OCI-LY1_BCOR_peaks_REP2.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763410_OCI-LY1_BCOR_peaks_overlap.R1-R2.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763416_OCI-Ly1_H3K36me3_peaks.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763418_OCI-LY1_H3K9Ac_peaks.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763420_OCI-LY1_H3K4me3_peaks.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763422_OCI-LY1_H3K4me1_peaks.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM763424_OCI-LY1_H3K27Ac_peaks.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM898055_OCI-LY1_P300_peaks.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/chipSeq/GSM898056_OCI-LY1_NCOR_peaks.txt.wgl.bed.hg19.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/ATAC_LY1_peaks_chr18.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/PU1_LY1_peaks_chr18.bed filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/LY1.chr18.narrowPeak filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/sample_LY1.narrow_peaks.narrowPeak filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/LY1_ATAC_chr18.bam filter=lfs diff=lfs merge=lfs -text
ATAC-CSHL/LY1_ATAC_chr18.bam.bai filter=lfs diff=lfs merge=lfs -text
